<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

    <h1>{{ user.name }}</h1>
    <h2>{{ user.lastname }}</h2>

    <span>{{ user.email }}</span>

</body>
</html>